.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
.footer {
    background-color: #1A2B4C;
    color: white;
    padding: 24px 0;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
  }