
<h2 mat-dialog-title>Edit Article</h2>
<mat-dialog-content>
  <form #articleForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="editedArticle.nomArt" name="nomArt" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="editedArticle.description" name="description" required></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput type="number" [(ngModel)]="editedArticle.price" name="price" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Image URL</mat-label>
      <input matInput [(ngModel)]="editedArticle.image" name="image" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!articleForm.form.valid">Save</button>
</mat-dialog-actions>